# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

dietary-management-39e51-firebase-adminsdk-fbsvc-f315ff3965.json